.main {
    display: grid;
    justify-content: center;
    padding-top: 100px;
}
.profilePicture {
    background-color: #d6d6d6;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    img {
        transform: translateX(-5px);
    }
    margin-top: 5px;
}
.profileWrapper {
    background-color: rgb(66, 133, 120);
    padding: 15px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    p {
        color: white !important;
        font-family: "Poppins", sans-serif;
        font-style: normal;
    }
}
.profileInfo {

    display: grid;
    grid-template-columns: 50px 1fr;
}

.wrapper {
    margin-top: 10px;
    display: grid;
    background-color: rgb(66, 133, 120);
    border-radius: 15px;
    width: 400px;
    padding: 15px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    ul {
        list-style-type: none;
    }
}

.title {
    font-weight: 600;
    font-size: 18px;
    color: white !important;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    a {
        text-decoration: none;
        color: white !important;
    }
    a:hover {
        text-decoration: underline;
    }
    a:visited {
        color: white !important;
    }
}
.text {
    color: white !important;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
